requests
networkx
pyyaml
pytest
pytest-benchmark
pygal
numpy

# d:/workspaces/advent-of-code-2019/.venv/Scripts/python.exe -m pip install -r requirements.txt
# .venv/bin/python3 -m pip install -r requirements.txt